StepFunctions.json
{
  "Comment": "Workflow de Processamento de Pedido",
  "StartAt": "ValidarPagamento",
  "States": {
    "ValidarPagamento": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGIAO:ID_DA_CONTA:function:ValidarPagamento",
      "Next": "VerificarEstoque"
    },
    "VerificarEstoque": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGIAO:ID_DA_CONTA:function:VerificarEstoque",
      "Next": "PagamentoAprovado?"
    },
    "PagamentoAprovado?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.pagamentoAprovado",
          "BooleanEquals": true,
          "Next": "ConfirmarPedido"
        }
      ],
      "Default": "FalhaPagamento"
    },
    "ConfirmarPedido": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGIAO:ID_DA_CONTA:function:ConfirmarPedido",
      "Next": "SalvarNoDynamoDB"
    },
    "SalvarNoDynamoDB": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGIAO:ID_DA_CONTA:function:SalvarPedido",
      "Next": "NotificarCliente"
    },
    "NotificarCliente": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGIAO:ID_DA_CONTA:function:EnviarNotificacao",
      "End": true
    },
    "FalhaPagamento": {
      "Type": "Fail",
      "Cause": "Pagamento não aprovado"
    }
  }
}
